<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kayıt Ol</title>
  <link rel="stylesheet" href="login.css" />
</head>
<body>

  <div class="form">
  <form>
  <h2>Giriş Yap</h2>
  <div class="input-box">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" id="login" placeholder="Login" required />
      </div>
      <div class="input-box">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <input type="password" name="password" placeholder="Password" pattern="(?=,*\d)(?=,*[A-Z]).{8,}" title="Must contain "required />
      </div>
      <div class="input-box">
        <input type="button" name="sign-in" value="Login"/>
      </div>
      <a href="#">Şifremi Unuttum</a>
      </form>
    
      
  </div>

</body>
</html>
